chartio==6.0.1
mss==9.0.1
python-dotenv==1.0.1
pywin32==301
pywin32==306
pywin32==305.1
Requests==2.32.3
supervision==0.25.1
torch==2.5.1
torch==2.1.2
torch==2.4.1
torch==2.3.1+cu121
torch==2.3.0
torch==2.6.0
ultralytics==8.3.66
ultralytics==8.3.67
